# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Popular languages for data science
- Commonly used libraries used by Data Scientists 
- Data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. Scala
3. Java
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Tensorflow

|Data Science Tools|
---------------------------
|Jupyter Notebooks|
|Zeppelin Notebook|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [15]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Abhinav Saini